#
# This is a sample .theme config file.
#

# Main title settings.
title.string = Enter
title.font = verdana-18:bold:dpi=75
title.color 
title.position
title.x = 10
title.y = 10

# Background settings.
background.style
background.color
background.image = background.png

