#
# This is a sample .theme config file.
#

# Main title settings.
title.caption = Enter "gay" login
title.font = verdana-18:bold:dpi=75
title.color = #FFFFFF
title.position
title.x = 50
title.y = 50

# Background settings.
background.style
background.color
background.image = background.png

